/* GONZALES */
* {

}

body {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
  overflow-x: hidden;
}

h1 {
  font-size: 50px;
  text-align: center;
}

label {
  font-size: 20px;
}

.rounded-pill {
  width: 2%;
}

.container {
  background-color: #af0515;
  color: white;
}

.container-fluid-mt-5 {
  margin-top: 120px;
  background-color: #880315;
  color: white;
  text-align: justify;
}
